@import url('./target-styles.css');

body {
    min-width: 500px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

input[disabled] {
    background-color: lightgrey;
}

section {
    margin: 1em 0;
}

input[disabled] + label {
    color: grey;
}

#tranAfter > div,
#tranAfter li {
    display: flex;
    align-items: center;
}

#tranAfter > div > label {
    font-size: 1.2rem;
}

.text {
    margin-left: 29px;
}

a {
    color: #016ed8;
}

@media (prefers-color-scheme: dark) {
    html {
        --bgColor: #202023;
        --fontColor: #f9f9fa;
    }

    body,
    select,
    h1,
    h2,
    h3,
    option,
    [label],
    .browser-style > input[type='url'],
    .browser-style > input[type='text'] {
        background-color: var(--bgColor);
        color: var(--fontColor);
        text-shadow: none;
    }

    button:not(.default) {
        background-color: var(--bgColor);
        background-image: none;
        color: var(--fontColor);
        border-color: #737373;
        text-shadow: none;
    }
    button:hover,
    button:focus {
        border-color: #fafafb;
    }
    button:active {
        background-color: #737373;
    }

    input[disabled] {
        background-color: grey;
    }
    a {
        color: #98c0ff;
    }
}

footer {
    margin: 2em 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer > * {
    margin-right: 1em;
}
