@import url('./target-styles.css');

html {
    height: 100%;
}

body {
    height: 100%;
    padding-top: 1rem;
}

input[disabled] {
    background-color: lightgrey;
}

input[disabled] + label {
    color: grey;
}

#tranAfter > div,
#tranAfter li {
    display: flex;
    align-items: center;
}

#tranAfter > div > label {
    font-size: 1.2rem;
}

.text {
    margin-left: 29px;
}

@media (prefers-color-scheme: dark) {
    html {
        --bgColor: #202023;
        --fontColor: #f9f9fa;
    }

    body,
    select,
    option,
    [label],
    .browser-style > input[type='url'],
    .browser-style > input[type='text'] {
        background-color: var(--bgColor);
        color: var(--fontColor);
        text-shadow: none;
    }

    button:not(.default) {
        background-color: var(--bgColor);
        background-image: none;
        color: var(--fontColor);
        border-color: #737373;
        text-shadow: none;
    }
    button:hover,
    button:focus {
        border-color: #fafafb;
    }
    button:active {
        background-color: #737373;
    }

    input[disabled] {
        background-color: grey;
    }
}
