#translate-popup * {
    box-sizing: border-box;
}

#translate-popup {
    all: initial;
    display: block;
    position: absolute;
    border-radius: 6px;
    font-size: 15px;
    padding: 0.5em 1em 1em 1em;
    background-color: #f1f1f1;
    border: 1px solid #bababa;
    min-height: 40px;
    min-width: 100px;
    max-width: 380px;
    max-height: 380px;
    z-index: 9999;
    overflow: auto;
    color: #060606;
    overflow-wrap: break-word;
}

a {
    color: #000000;
    /* font-weight: 600; */
    text-decoration: none;
}

a:hover {
    color: #5f5ff1;
    text-decoration: underline;
}

.header > * {
    font-size: 1.2em;
    margin-right: 1em;
}

.header > span,
.header > em {
    color: #848484;
}

ol,
ul {
    margin: 0;
    padding: 0.5em 0.5em 1em 1em;
}

li {
    padding: 0;
    margin: 0 0 0 1em;
}

li > span {
    color: #848484;
}
li > .subj {
    color: #555555;
    font-style: italic;
}
