#translate-popup {
    all: initial;
    position: absolute;
    border-radius: 6px;
    padding: 1rem;
    background-color: #f1f1f1;
    border: 1px solid #bababa;
    min-height: 40px;
    min-width: 80px;
    max-width: 400px;
    max-height: 450px;
    z-index: 9999;
    overflow: scroll;
    color: #060606;
    font-size: 15px;
    overflow-wrap: break-word;
}

a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.header > * {
    margin-right: 1em;
}
.header > span,
.header > em {
    color: #848484;
}

ol,
ul {
    margin: 0;
    padding: 0.5em 0.5em 1em 1em;
}

li {
    padding: 0;
    margin: 0 0 0 1em;
}
li > * {
    margin-right: 0.5em;
}
li > span {
    color: #848484;
}
