@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply focus-visible:outline-blue-700;
}

@layer components {
    .tab {
        @apply py-1 px-2 text-center select-none max-w-[12rem] overflow-hidden text-ellipsis
               border border-b-0 border-transparent rounded-t-md
               bg-transparent hover:bg-slate-200
               text-slate-300 hover:text-slate-900;
    }
    .tab-active {
        @apply border-blue-500 bg-slate-50 text-slate-900;
    }
}

:root,
.root {
    --base-spacing: 16px;
    --font-size: 16px;
    --popup-max-width: 400px;
    --popup-max-height: 400px;

    line-height: normal;
    letter-spacing: normal;
    text-align: initial;
}

body {
    @apply bg-slate-100;
}

a {
    @apply text-slate-900 hover:text-blue-600 hover:underline;
}

select,
input {
    @apply border border-slate-700 bg-slate-50 hover:bg-white;
}

input {
    @apply bg-slate-50 hover:bg-white hover:border-blue-800;
}

.translation-subject {
    @apply text-gray-500 italic;
}
