@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .tab {
        max-width: theme('spacing.48');
        user-select: none;
        overflow: hidden;
        text-overflow: ellipsis;
        border: 1px solid transparent;
        border-radius: theme('borderRadius.md') theme('borderRadius.md') 0 0;
        background-color: transparent;
        text-align: center;
        padding: theme('spacing.1') theme('spacing.2');

        color: theme('colors.slate.300');
    }
    .tab:hover {
        color: theme('colors.slate.900');
        background-color: theme('colors.slate.200');
    }
    .tab-active {
        color: theme('colors.slate.900');
        background-color: theme('colors.slate.50');
        border-color: theme('colors.blue.500');
        border-bottom-width: 0px;
    }
    @media (prefers-color-scheme: dark) {
        .tab {
            color: theme('colors.slate.300');
        }
        .tab:hover {
            color: theme('colors.slate.100');
            background-color: theme('colors.neutral.700');
        }
        .tab-active {
            color: theme('colors.slate.100');
            background-color: theme('colors.neutral.800');
            border-color: theme('colors.blue.400');
        }
    }
}

:root,
.root {
    --base-spacing: 16px;
    --font-size: 16px;
    --popup-max-width: 400px;
    --popup-max-height: 400px;

    line-height: normal;
    letter-spacing: normal;
    text-align: initial;
}

body {
    background-color: theme('colors.slate.100');
    color: theme('colors.slate.900');
    accent-color: theme('colors.blue.600');
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: theme('colors.neutral.800');
        color: theme('colors.slate.300');
        accent-color: theme('colors.blue.200');
    }
}

a {
    color: theme('colors.slate.900');
}

a:hover {
    color: theme('colors.blue.600');
    text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
    a {
        color: theme('colors.slate.100');
    }
    a:hover {
        color: theme('colors.blue.400');
    }
}

select,
input {
    border: 1px solid theme('colors.slate.700');
    background-color: theme('colors.slate.50');
}
select:hover,
input:hover {
    background-color: theme('colors.white');
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    select,
    input {
        border-color: theme('colors.slate.600');
        background-color: theme('colors.neutral.800');
    }
    select:hover,
    input:hover {
        background-color: theme('colors.neutral.900');
    }
}

.translation-subject {
    font-style: italic;
    color: theme('colors.gray.500');
}

@media (prefers-color-scheme: dark) {
    .translation-subject {
        color: theme('colors.gray.400');
    }
}

h2 {
    color: theme('colors.blue.900');
}

@media (prefers-color-scheme: dark) {
    h2 {
        color: theme('colors.blue.300');
    }
}

@media (prefers-color-scheme: dark) {
    * {
        color-scheme: dark;
    }
}
